In [67]:
import requests
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import pymongo
import pandas as pd
from pprint import pprint

In [68]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=True)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [/Users/alain/.wdm/drivers/chromedriver/mac64/93.0.4577.63/chromedriver] found in cache

In [69]:
url = "https://redplanetscience.com/"
browser.visit(url)

In [70]:
html = browser.html
soup = bs(html, "html.parser")

In [71]:
results = soup.find_all('div', class_="list_text")
for result in results:
    news_title = result.find('div', class_="content_title").text
    news_p = result.find('div', class_="article_teaser_body").text
    print(news_title)
    print(news_p)
    print('----------------')

NASA's Curiosity Rover Finds an Ancient Oasis on Mars
New evidence suggests salty, shallow ponds once dotted a Martian crater — a sign of the planet's drying climate.
----------------
Global Storms on Mars Launch Dust Towers Into the Sky
A Mars Dust Tower Stands Out Dust storms are common on Mars. But every decade or so, something unpredictable happens: a series of runaway storms break out, covering the entire planet in a dusty haze.
----------------
8 Martian Postcards to Celebrate Curiosity's Landing Anniversary
The NASA rover touched down eight years ago, on Aug. 5, 2012, and will soon be joined by a second rover, Perseverance.
----------------
NASA's Mars 2020 Comes Full Circle
Aiming to pinpoint the Martian vehicle's center of gravity, engineers took NASA's 2,300-pound Mars 2020 rover for a spin in the clean room at JPL.
----------------
NASA's Perseverance Rover Is Midway to Mars
Sometimes half measures can be a good thing – especially on a journey this long. The agency's latest rover only has about 146 million miles left to reach its destination.
----------------
New Selfie Shows Curiosity, the Mars Chemist
The NASA rover performed a special chemistry experiment at the location captured in its newest self-portrait.
----------------
Q&A with the Student Who Named Ingenuity, NASA's Mars Helicopter
As a longtime fan of space exploration, Vaneeza Rupani appreciates the creativity and collaboration involved with trying to fly on another planet.
----------------
The Launch Is Approaching for NASA's Next Mars Rover, Perseverance
The Red Planet's surface has been visited by eight NASA spacecraft. The ninth will be the first that includes a roundtrip ticket in its flight plan.
----------------
AI Is Helping Scientists Discover Fresh Craters on Mars
It's the first time machine learning has been used to find previously unknown craters on the Red Planet.
----------------
Space History Is Made in This NASA Robot Factory
From rockets to rovers, JPL's Spacecraft Assembly Facility has been at the center of robotic spaceflight. Here's a closer look at what makes it so special.
----------------
NASA to Reveal Name of Its Next Mars Rover
After a months-long contest among students to name NASA's newest Mars rover, the agency will reveal the winning name — and the winning student — this Thursday.
----------------
Alabama High School Student Names NASA's Mars Helicopter
Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.
----------------
Scientists Explore Outback as Testbed for Mars
Australia provides a great place for NASA's Mars 2020 and the ESA-Roscosmos ExoMars scientists to hone techniques in preparation for searching for signs ancient life on Mars.
----------------
Celebrate Mars Reconnaissance Orbiter's Views From Above
Marking its 15th anniversary since launch, one of the oldest spacecraft at the Red Planet has provided glimpses of dust devils, avalanches, and more.
----------------
NASA's Mars 2020 Heads Into the Test Chamber
In this time-lapse video taken at JPL, engineers move the Mars 2020 rover into a large vacuum chamber for testing in Mars-like environmental conditions.
----------------

In [88]:
url = "https://spaceimages-mars.com/"
browser.visit(url)

In [89]:
html = browser.html
soup = bs(html, "html.parser")

In [90]:
images = soup.find_all('img', class_="headerimage fade-in")

In [91]:
featured_image_url=[]

In [97]:
image_src=[]
for image in images:
    s_image = image['src']
    image_src.append(s_image)

In [98]:
print(image_src)

['image/featured/mars3.jpg']

In [101]:
featured_image_url = "https://spaceimages-mars.com/" + s_image

In [102]:
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars3.jpg

In [28]:
url = "https://galaxyfacts-mars.com/"
browser.visit(url)

In [29]:
html = browser.html
soup = bs(html, "html.parser")

In [30]:
table = pd.read_html(url)
table[0]

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [31]:
mars_facts_df = table[0]
mars_facts_df.columns =  ["","Mars", "Earth"]
mars_facts_df = mars_facts_df.iloc[1: , :]
mars_facts_df

                                  Mars            Earth
1           Diameter:         6,779 km        12,742 km
2               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3              Moons:                2                1
4  Distance from Sun:   227,943,824 km   149,598,262 km
5     Length of Year:   687 Earth days      365.24 days
6        Temperature:     -87 to -5 °C      -88 to 58°C

In [32]:
mars_facts_html_table = mars_facts_df.to_html()
mars_facts_html_table = mars_facts_html_table.replace("\n","")
mars_facts_html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th></th>      <th>Mars</th>      <th>Earth</th>    </tr>  </thead>  <tbody>    <tr>      <th>1</th>      <td>Diameter:</td>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>4</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>5</th>      <td>Length of Year:</td>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>6</th>      <td>Temperature:</td>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

In [50]:
hemisphere_image_urls = []

In [51]:
url = "https://marshemispheres.com/cerberus.html"
browser.visit(url)

In [52]:
html = browser.html
soup = bs(html, "html.parser")

In [53]:
results = soup.find_all('body', id ="results")

In [54]:
for result in results:
    cerberus_title = soup.find('h2', class_='title').text
    downloads = soup.find('div', class_ = 'downloads')
    li = downloads.find('li')
    cerberus_img = li.find('a')['href']
    cerberus_img_url = 'https://marshemispheres.com/' + cerberus_img
    cerberus_hemisphere = {"Title": cerberus_title, "URL": cerberus_img_url}
    hemisphere_image_urls.append(cerberus_hemisphere)

In [56]:
url = "https://marshemispheres.com/schiaparelli.html"
browser.visit(url)

In [57]:
html = browser.html
soup = bs(html, "html.parser")

In [58]:
results = soup.find_all('body', id ="results")

In [59]:
for result in results:
    schiaparelli_title = soup.find('h2', class_='title').text
    downloads = soup.find('div', class_ = 'downloads')
    li = downloads.find('li')
    schiaparelli_img = li.find('a')['href']
    schiaparelli_img_url = 'https://marshemispheres.com/' + schiaparelli_img
    schiaparelli_hemisphere = {"Title": schiaparelli_title, "URL": schiaparelli_img_url}
    hemisphere_image_urls.append(schiaparelli_hemisphere)

In [61]:
url = "https://marshemispheres.com/syrtis.html"
browser.visit(url)

In [62]:
html = browser.html
soup = bs(html, "html.parser")

In [63]:
results = soup.find_all('body', id ="results")

In [64]:
for result in results:
    syrtis_major_title = soup.find('h2', class_='title').text
    downloads = soup.find('div', class_ = 'downloads')
    li = downloads.find('li')
    syrtis_major_img = li.find('a')['href']
    syrtis_major_img_url = 'https://marshemispheres.com/' + syrtis_major_img
    syrtis_major_hemisphere = {"Title": syrtis_major_title, "URL": syrtis_major_img_url}
    hemisphere_image_urls.append(syrtis_major_hemisphere)

In [66]:
url = "https://marshemispheres.com/valles.html"
browser.visit(url)

In [67]:
html = browser.html
soup = bs(html, "html.parser")

In [68]:
results = soup.find_all('body', id ="results")

In [70]:
for result in results:
    valles_marineris_title = soup.find('h2', class_='title').text
    downloads = soup.find('div', class_ = 'downloads')
    li = downloads.find('li')
    valles_marineris_img = li.find('a')['href']
    valles_marineris_img_url = 'https://marshemispheres.com/' + valles_marineris_img
    valles_marineris_hemisphere = {"Title": valles_marineris_title, "URL": valles_marineris_img_url}
    hemisphere_image_urls.append(valles_marineris_hemisphere)

In [71]:
print(hemisphere_image_urls)

[{'Title': 'Cerberus Hemisphere Enhanced', 'URL': 'https://marshemispheres.com/images/full.jpg'}, {'Title': 'Schiaparelli Hemisphere Enhanced', 'URL': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'}, {'Title': 'Syrtis Major Hemisphere Enhanced', 'URL': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'}, {'Title': 'Valles Marineris Hemisphere Enhanced', 'URL': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]

In [72]:
  browser.quit()